@import url("//cdn.0ch.me/fonts/iosevka/iosevka-ss04.css");

body {
  margin: 0;
  font-family: 'Iosevka SS04 Web';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
